.product {
	display: flex;
	align-items: center;
	background: #E6E6E6;
	border-radius: 4px;
	padding: 10px;
}

.product-body {
	flex: 1 0 auto;
}

.product-image {
	margin: 15px;
	border-radius: 4px;
}

.product-controls {
	align-self: flex-start;
}